<%- model_class = Inventory -%>
<div class="page-header">
  <h3 class="glyphicon glyphicon-gift"><%=Inventory%></h3>
</div>

<div class="pagination">
  <%= will_paginate @inventories, renderer: BootstrapPagination::Rails %>
</div>

<table class="table ">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:ID) %></th>
      <th><%= model_class.human_attribute_name(:Name) %></th>
      <th><%= model_class.human_attribute_name(:Author) %></th>
      <th><%= model_class.human_attribute_name(:Price) %>(Rs)</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td>#<%= link_to inventory.id, inventory_path(inventory) %></td>
        <td><%= inventory.bk_name %></td>
        <td><%= inventory.bk_author %></td>
        <td><%= inventory.bk_price %></td>
        <td> <%= text_field :bk_qty ,:bk_qty,:id=>'bk_qty' %></td>

        <td><%= link_to "Add to order",{:action=>"createOrder",
                                        :bk_name=>inventory.bk_name,
                                        :bk_name=>inventory.bk_author}, :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
 
