 

 <div class="page-header">
 	<h3 class="glyphicon glyphicon-shopping-cart">Orders</h3>
 </div>

<div class="pagination">
	<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
</div>

 <table class="table table-striped">

 	<thead>
 		<tr>
 			<th>Book Name</th>
 			<th>Quantity</th>
 			<th>Order Status</th>
 			<th>Created(UTC)</th>
 			<th>Modified(UTC)</th>
 			<th>  Actions</th>

 		</tr>
 	</thead>



<% @orders.each do |order| %>

 	<tbody>
 		<tr>
 			<td><%=order.bk_name%></td>
 			<td><%=order.bk_qty%></td>
 			<td>


 				<%case order.order_status%>
 					<%when "CLOSED"%>
 						<span class="badge badge-success">
 					<%when "In Progress"%>
 						<span class="badge badge-warning">
 					<%else%>
 					    <span class="badge badge-important">
 				<%end %>
 								
		 				<%=order.order_status%>		
 				       </span>
 					
 			</td>

 			
 			<td><%=order.created_at.strftime("%m/%d/%Y %I:%M%p")%></td>
 			<td><%=order.updated_at.strftime("%m/%d/%Y %I:%M%p")%></td>
 			<td><%=link_to "Modify",edit_order_path(order),class:"btn"%>
 				<%=link_to "Delete",order_path(order), :method => 'delete',
              								:data => { :confirm => t('.confirm', 
              								:default => t("helpers.links.confirm", 
              							    :default => 'Are you sure?')) },
              								:class => 'btn btn-danger'%>
 			</td>

 		 
             

 		
 		</tr>
 	</tbody>

 <%end%>
 </table>


